*.dll
*.pdb
*.cache
*.suo
MahjongCore/.vs/MahjongCore/v15/Server/sqlite3/storage.ide-wal
MahjongCore/.vs/MahjongCore/v15/Server/sqlite3/db.lock
MahjongCore/.vs/MahjongCore/v15/Server/sqlite3/storage.ide
MahjongCore/.vs/MahjongCore/v15/Server/sqlite3/storage.ide-shm
MahjongCore/.vs/MahjongCore/v15/Browse.VC.db
MahjongCore/packages/*
MahjongCore/TestResults/*
MahjongCore/MahjongCore/obj/*
MahjongCore/MahjongCoreUnitTests/obj/*
MahjongCore/MahjongCoreUnitTests/bin/*